body {
    background-color: #FCF0C8;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    text-align: center;
}

.title, .player-title, .roll-button, .prompt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    font-size: 3rem;
    padding-top: 30px;
}

.player-title {
    font-size: 3rem;
    margin: 0px 0px 20px;
}

.dice-game-title, .dice-icon, .player{
    display: inline-block;
}

.dice-icon {
    font-size: 5rem;
    padding-left: 3%;
    color:crimson;
}

.die-image {
   padding: 0px 60px 10px;
}

.roll-button {
    font-size: 40px;
    margin-top: 20px;
    padding: 5px 30px;
}

.prompt {
    margin-top: 70px;
    font-size: 3rem;
}