body {
    background-color: #FCF0C8;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    text-align: center;
}

.dice-icon {
    font-size: 5rem;
    padding-left: 3%;
    color:crimson;
}

.player-title {
    font-size: 3rem;
    margin: 0px 0px 20px;
}

.players {
    height: 40vh;
}

.plus-image {
    height: 185px;
    padding: 40px;
    outline: auto;
}

.prompt {
    margin-top: 70px;
    font-size: 3rem;
}

.roll-button {
    font-size: 40px;
    margin-top: 20px;
    padding: 5px 30px;
    background-color: white;
}

.title {
    font-size: 3rem;
    padding-top: 30px;
}

/* group styles */
.title, .player-title, .roll-button, .prompt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dice-game-title, .dice-icon, .player, .add-player{
    display: inline-block;
}

.die-image, .add-player {
    padding: 0px 60px 10px;
 }

 .roll-button:hover, .plus-image:hover {
    background-color: #EEEEEE;
}